@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Sit down, mothafucka!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Click here if you want</h2>
        <p>
            The year is 1987 and NASA launches the last of America's deep space probes. In a freak mishap, Ranger 3 and its pilot Captain William 'Buck' Rogers are blown out of their trajectory into an orbit which freezes his life support system and returns Buck Rogers to Earth five hundred years later.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Or here works too...</h2>
        <p>Life is like a hurricane here in Duckburg. Race cars, lasers, aeroplanes - it's a duck blur. You might solve a mystery or rewrite history - Duck Tales, Oo-oo! Tales of derring-do, bad and good luck tales, oo-oo! D-d-d-danger, watch behind you - there's a stranger out to find you! What to do? Just grab onto some Duck Tales, oo-oo! Not pony tails or cotton tails but Duck Tales, oo-oo! When it seems they're headed for the final curtain Bold deduction never fails, that's for certain The worst of messes become successes!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p> fucking lie to yourself. Never, never assume that what you have achieved is fucking good enough. Can we all just agree as the greater design community to stop fucking talking about Comic Sans altogether? It’s getting fucking old. What’s important is the fucking drive to see a project through no matter what. Dedicate yourself to lifelong fucking learning. If you’re not being fucking honest with yourself how could you ever hope to communicate something meaningful to someone else? Learn from fucking criticism. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>